@media screen and (max-width: 767px) {
  :root {
    --padding: 1.5rem;
  }
  :root {
    --color3: rgb(29, 31, 31);
  }

  html {
    font-size: 13px;
  }

  .me {
    display: none;
  }
  .btn {
    display: none;
  }
  .li66{
    display: block;
  }
  nav {
    
    justify-content: space-between;
  }
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 50vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
  }
  nav ul li {
    display: block;
    text-align: center;
    transform: translateY(50px);
    margin: 60px;
  }
  #menu, #menu2 {
      display: block;
      z-index: 101;
    }
    #menu2{
      display: none;
    }

  content,
  .Aboute,
  .moraba3at ,.Services,
  .Skills {
    
    height: auto;
    flex-direction: column;
  }
  .moraba3at{
    margin: 25%;
    justify-content: center;
  }
  .item{
    margin:10px;
  }
}
